######################################################################
# 1. 注释以'#'开头
# 2. Section被包含在方括号('['和']')之间, 如: [Section]
# 3. Section之下的识别符(Ident)用 IDENT=VALUE 的形式表示
# 4. Ident以及其值中不能包含成对的方括号, 否则将被识别为Section
######################################################################

[COMMON]
HOST=10.45.4.201    # redis-server IP
PORT=7000           # redis-server port

