######################################################################
# 1. 注释以'#'开头
# 2. Section被包含在方括号('['和']')之间, 如: [Section]
# 3. Section之下的识别符(Ident)用 IDENT=VALUE 的形式表示
# 4. Ident以及其值中不能包含成对的方括号, 否则将被识别为Section
######################################################################

[SINGLE]           		# 单独节点
COUNT=2					# 单独节点的个数

[Single0]
HOST=192.168.199.131    # redis-server IP
PORT=10006              # redis-server port

[Single1]
HOST=192.168.199.131    # redis-server IP
PORT=10007              # redis-server port

[CLUSTER]               # 集群节点
COUNT=2					# 集群个数

[Cluster0]
HOST=192.168.199.131    # redis-server IP
PORT=10000              # redis-server port

[Cluster1]
HOST=192.168.199.212    # redis-server IP
PORT=10000              # redis-server port

